<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h3>Добрый день! Предлагаем ознакомиться с главными новостями сегодняшнего дня</h3>
    <p>Пожалуйста, выберите сайт:</p>
        <form action="/news/" method="post">
    		<select name="source">
    			<option value="delfi">Новостной портал Delfi.lv</option>
    			<option value="tvnet">Новостной портал TvNet.lv</option>
    		</select>
    		<button type="submit">Отправить</button>
    	</form>
</body>
</html>