<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News_category</title>
</head>
<body>
    <h3>Выберите пожалуйста категорию новостей:</h3>
    <form action="/category/" method="post">
            <select name="title">
                <ul>
                    <li>{{#each categories}}
                            <option value="{{href}}">{{category}}</option>
                        {{/each}}
                    </li>
                </ul>
            </select>
            <input type="text" hidden="hidden" name="source" value="{{link}}">
            <button type="submit">Отправить</button>
        </form>
</body>
</html>